{{ define "main" }}
  <h1 class="page-title">{{ .Title }}</h1>

  {{ $isSmallSummary := strings.RuneCount .Summary | compare.Ge 70 }}
  {{ if $isSmallSummary }}
  <p class="summary">
    {{ .Summary }}
  <p>
  {{ end }}

  {{ $hasTags := .GetTerms "tags" | len | compare.Gt 0 }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{ if or $isSmallSummary $hasTags }}
  <hr>
  {{ end }}

  {{ $date := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $prettyDate := $date | time.Format ":date_medium" }}
  <time pubdate datetime="{{ $date }}">{{ $prettyDate }}</time>

  {{ .Content }}
{{ end }}
