:root {
  --bg-primary: #ffffff;
  --text-header: #ff9500;
  --text-highlight: #ff9500;
  --text-body: #111111;
  --text-dim-weak: #444444;
  --text-dim-strong: #999999;
  --text-dim-mega: #dddddd;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #050505;
    --text-header: #ff9500;
    --text-highlight: #fca62d;
    --text-body: #dddddd;
    --text-dim-weak: #888888;
    --text-dim-strong: #555555;
    --text-dim-mega: #222222;
  }
}

body {
  margin: 0 0 0 0;
  background-color: var(--bg-primary);

  font-family: "PT Serif";

  color: var(--text-body);
}

div.main-container {
  overflow: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 25px 0 25px;
  min-height: 100vh;
  border-right: 1px solid var(--text-dim-mega);
  border-left: 1px solid var(--text-dim-mega);
}

/* navbar */
nav {
  font-size: 1.3em;
  border-bottom: 1px solid var(--text-dim-mega);

  margin-bottom: 20px;

  & > ul {
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;

    margin: 10px 0 10px 0;

    & > li {
      display: inline-block;
      list-style-type: none;
      margin: 5px 10px 5px 0;

      &::before {
        display: none;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }

    & * {
      /* color: var(--text-header); */
      text-decoration: none;
    }
  }
}

/* header and footer */

footer {
  text-align: center;
  border-top: 1px solid var(--text-dim-mega);
}

div.preface {
  margin-bottom: 20px;

  &::after {
    content: "---";
  }
}

h1.page-title {
  color: var(--text-body);

  font-size: 3.5vh; 
  
  padding: 5px 15px 5px 0;

  margin-top: 0;
  margin-bottom: 0;
}

time[pubdate] {
  color: var(--text-dim-weak);
}

p.summary {
  font-style: italic;
}

ul.terms {
  padding: 0 0 0 0;

  & > li {
    display: inline;

    &::before {
      content: "#";
    }
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.2em;
  &::before {
    color: var(--text-header);
    margin-left: 3px;
    margin-right: 3px;
  }
}

h1 {
  margin-top: 70px;
  &:first-of-type {
    margin-top: 0;
  }
  &::before {
    content: "/ ";
  }
}


blockquote {
  border-left: 2px solid var(--text-dim-strong);
  margin: 0 15px 0 15px;
  padding-left: 15px;
  font-style: italic;
}

a {
  color: var(--text-body);
  font-weight: 800;
}

hr {
  border: none;
  height: 1px;
  color: var(--text-dim-mega);
  background-color: var(--text-dim-mega);
  margin-top: 25px;
  margin-bottom: 25px;
}

ul {
  padding-left: 10px;
  padding-right: 10px;

  & > li {
    list-style-type: none;

    margin-top: 5px;
    margin-bottom: 5px;

    &:first-child {
      margin-left: 0;
    }

    &::before {
      content: "> ";
      color: var(--text-dim-strong);
    }

    & > ul > li::before {
      content: ">> ";
      color: var(--text-dim-strong);
    }
  }
}

div.content {
  line-height: 1.5em;
}

p.subtitle {
  color: var(--text-dim-weak);
}

.dimmed {
  color: var(--text-dim-weak);
}
.highlight {
  color: var(--text-highlight);
}

pre {
  overflow-x: scroll;
}

code {
  background-color: var(--text-dim-mega);
  padding: 3px;
  border-radius: 3px;

  overflow-x: scroll;

  font-family: "Hack";

  & > span {
    padding: 0 20px 0 20px;

    &::first-child() {
      padding-top: 20px;
    }
  }
}
