<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if page.Description }}{{ page.Description }}{{ else if page.Summary }}{{ page.Summary }}{{ else }}{{ site.Params.Description }}{{ end }}">
  <title>{{ if page.Title }}{{ page.Title }} | {{ end }}{{ site.Title }}</title>
  <link rel="stylesheet" href="{{ "/fonts/hack.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/fonts/pt-serif.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  {{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
</head>
